@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.container {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
   justify-content: center;
   
}

.gridsection {
    width: 80% ;
    height: 120vh;
    background-color: rgb(89,51,146);
   background-image: url(./magicpattern-blob-1682359286600.png),url(./magicpattern-blob-1682359305160.png),url(./magicpattern-blob-1682359322854.png);
  background-size: contain;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows:repeat(4,1fr) ;
 border: 2px solid green; 
 gap: 30px;
 padding: 50px;

}



.item1 {
  grid-column: 1/2;
  grid-row:1/4;
  /* border: 2px solid white; */
  width: 300px;
  height: 500px;
  border-radius: 30px;
  background-image: url(./img\ grid1.jpeg);
  background-position: center;
  background-size: cover;

}


.item2 {
    grid-column:2/5; 
    grid-row: 1/2 ;
    height: 200px;
    width: 750px;
    /* border: 2px solid white; */
    border-radius: 30px;
    display: flex;
   
   
  
  }
  .div1 {
    width:580px ;
    border-radius: 30px;
    border: 2px solid rgb(103,57,165);
    background-color: rgb(81,36,131);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .div1 img {
    
    
    width: 230px ;
    height:200px; 
    margin-right: 50px;
    /* border: 1px solid red;
   */
  }
  .div1 h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    margin-right: 100px;
  }
  .div2 {
    width:200px ;
    /* border: 2px solid white; */
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
  }
  .gradient {
    width: 130px;
    height: 60px;
    /* border:  2px solid black; */
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: hsla(265, 48%, 46%, 1);

background: linear-gradient(45deg, hsla(265, 48%, 46%, 1) 10%, hsla(295, 96%, 50%, 1) 78%);

background: -moz-linear-gradient(45deg, hsla(265, 48%, 46%, 1) 10%, hsla(295, 96%, 50%, 1) 78%);

background: -webkit-linear-gradient(45deg, hsla(265, 48%, 46%, 1) 10%, hsla(295, 96%, 50%, 1) 78%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6C3DAF", endColorstr="#E707FA", GradientType=1 );
    
  }
 .div2 :nth-child(2) {
  background: hsla(327, 61%, 77%, 1);

background: linear-gradient(45deg, hsla(327, 61%, 77%, 1) 0%, hsla(327, 61%, 77%, 1) 30%, hsla(295, 96%, 50%, 1) 77%);

background: -moz-linear-gradient(45deg, hsla(327, 61%, 77%, 1) 0%, hsla(327, 61%, 77%, 1) 30%, hsla(295, 96%, 50%, 1) 77%);

background: -webkit-linear-gradient(45deg, hsla(327, 61%, 77%, 1) 0%, hsla(327, 61%, 77%, 1) 30%, hsla(295, 96%, 50%, 1) 77%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E89FC7", endColorstr="#E89FC7", GradientType=1 );

 }
 
  
  .item3 {
    grid-column: 2/4;
    grid-row: 2/4;
    height: 280px;
    width: 300px;
    /* border: 2px solid white; */
    border-radius: 30px;
    position: relative;
    left: 30px;
    background-image: url(./background\ 3.jpg);
    background-size: cover;
    background-repeat: none;
   
  
  }
  .item3 img {
    width: 80%;
    height: 100%;
    margin-left: 10px;

  }





  .item4 {
    grid-column: 1/4 ;
    grid-row:4/5 ;
    height: 200px;
    width: 670px;
    background-color: rgb(129, 72, 195);
    /* border: 2px solid white; */
    border-radius: 30px;
    position: relative;
   bottom: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
   justify-content: space-around;
  }
  .item4 :first-child h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  .item4 :nth-child(2) h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;

  }
  .item4 :last-child h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  .item4 :first-child h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  .item4 :nth-child(2) h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;

  }
  .item4 :last-child h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  .item5 {
    grid-column:4/5 ;
    grid-row:2/5 ;
    width: 380px;
    height: 520px;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    right: 150px;
    display: flex;
    flex-direction: column;
  
  }
  .logo {
     width: 100%;
     height: 130px;
    
  }
  .logo img {
    width:110px ;
    height: 100px;
    
  }

  .end {
    width: 100%;
    height:250% ;
    /* border: 2px solid green; */
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .end h1 {
    color:white;
    text-align: center;

  }
  hr {
    width: 250px;
    margin-top: 20px;
    border: 3px solid black;
  }
  .end p {
    color: white;
    font-size: 10px ;
    margin-top: 60px;
    margin-left: 80px;
    border-left: 1px solid white;
    
  }
  .end2 {
    width: 100%;
    height: 20px;
    margin-top: 100px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
  
    
  }
  .end2 h6 {
    color: white;
    font-size: 10px;
    margin-left: 15px;
  }
  .end2 button {
    width: 70px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 7px;
    margin-right: 15px;
    border-radius: 5px;
  }
 
